<!DOCTYPE html>
<html>
    <head>
        <title>Add a new Movie.</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a class="nav-link" href="{% url 'movies:index'%}">Home</a></li>
                <li><a class="nav-link" href="{% url 'movies:all_movies'%}">Movies</a></li> 
                <li><a class="nav-link" href="{% url 'movies:new_movie'%}">Add Movie</a></li>                              
            </ul>
        </nav>
		<div style="width: 90%; margin: auto;">
            {% block content %}

            {% endblock content %}
		</div>	
    </body>
</html>
